<header class="navbar navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <h4><%= link_to t(".social_network"), root_path %></h4>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, "#" %></li>
            <li><%= link_to t(".friend"), users_path %></li> 
            <li><%= link_to ("Lời kết bạn"), friendships_path %></li>
            <li><%= link_to t(".account"), user_path(current_user) %></li>
            <li><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "English", locale: "en" %></li>
            <li><%= link_to "Vietnam", locale: "vi" %></li>
          <% else %>
            <li><%= link_to t(".log_in"), user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
